.Modal {
  @apply fixed top-0 h-screen w-full grid place-items-center backdrop-blur-sm;

  z-index: 1000000000;

  .ModalOverlay {
    @apply absolute top-0 bg-primary/70 h-screen w-full;
    z-index: 10000000000;
  }

  .ModalContent {
    @apply absolute bg-white md:w-1/2 w-full md:p-12 p-6 overflow-y-auto md:max-h-[95%] max-h-full h-screen md:h-auto md:block grid place-items-center;
    z-index: 100000000000;
  }
}
